@using Microsoft.EntityFrameworkCore
@using Employee.Data

@page "/"
@inject IDbContextFactory<EmployeeDataContext> EmployeeDataContextFactory;
<PageTitle>Our Employees!</PageTitle>

@if (ShowCreate)
{
    // Display create employee form
    <h3>Add a New Employee</h3>
    <div class="row">
        <label for="FirstName" class="col-4 col-form-label">First Name</label>
        <div class="col-8">
            <input id="FirstName" name="FirstName" type="text" class="form-control" @bind="@NewEmployee.FirstName">
        </div>
    </div>
    <div class="row">
        <label for="LastName" class="col-4 col-form-label">Last Name</label>
        <div class="col-8">
            <input id="LastName" name="LastName" type="text" class="form-control" @bind="@NewEmployee.LastName">
        </div>
    </div>
}else
{
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" @onclick="ShowCreateForm">Add a New Employee</button>
        </div>
    </div>

    <p> Show the list </p>
    @if(@OurEmployees is not null && @OurEmployees.Count > 0)
    {
        <div class="table-reponsive">
            <table class="table table-striped table-hover table-bordered table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var employee in OurEmployees)
                    {
                        <tr>
                            <th scope="row">@employee.id</th>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                        </tr>
                    }
                    <tr>
                        <th scope="row">1</th>
                        <td>Lingfu</td>
                        <td>Zhang</td>
                    </tr>
                </tbody>
            </table>
    }
}
https://youtu.be/bhVbEQWy0io?t=4321